@font-face {
  font-family: "TT Firs Neue";
  font-display: swap;
  src: local("TT Firs Neue-Regular"), local("TT Firs NeueRegular"), local("TT Firs Neue Regular"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  font-display: swap;
  src: local("TT Firs Neue-Medium"), local("TT Firs NeueMedium"), local("TT Firs Neue Medium"), url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("../fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  font-display: swap;
  src: local("TT Firs Neue-Bold"), local("TT Firs NeueBold"), local("TT Firs Neue Bold"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto-Regular"), local("RobotoRegular"), local("Roboto Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto-Bold"), local("RobotoBold"), local("Roboto Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--main-color);
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

a:focus-visible, button:focus-visible, input:focus-visible, textarea:focus-visible,
.link:focus-visible,
.btn:focus-visible,
.btn_hidden:focus-visible {
  outline: 2px solid #CE4307;
  border: none;
}

.btn, .btn_hidden {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn_hidden {
  cursor: none;
  width: 0;
  height: 0;
  visibility: hidden;
}

.btn_orange, .btn_transparent,
.btn_transparent:link,
.btn_transparent:visited,
.btn_orange:link,
.btn_orange:visited {
  padding: 15px 22px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  color: #fff;
  line-height: 20px;
  background-color: #FF6E30;
  transition: background-color 0.2s ease-in-out;
}
.btn_orange:hover, .btn_transparent:hover,
.btn_orange:link:hover,
.btn_orange:visited:hover {
  background-color: #CE4307;
}

.btn_transparent,
.btn_transparent:link,
.btn_transparent:visited {
  background-color: transparent;
  border: 3px solid #FF6E30;
}
.btn_transparent:hover,
.btn_transparent:link:hover,
.btn_transparent:visited:hover {
  background-color: #FF6E30;
}

.active {
  position: relative;
  transition: transform box-shadow 0.2s ease-in;
}
.active::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: none;
  transition: animation 0.4s ease-in-out;
  opacity: 0;
}
.active:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.active:active::after {
  animation: moveInBottom 0.3s ease;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0.2;
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(1.2) scaleY(1.6);
  }
}
.active_orange {
  position: relative;
  transition: transform box-shadow 0.2s ease-in;
}
.active_orange::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #FF6E30;
  border-radius: none;
  transition: animation 0.4s ease-in-out;
  opacity: 0;
}
.active_orange:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.active_orange:active::after {
  animation: moveOrange 0.3s ease;
  animation-fill-mode: backwards;
}
@keyframes moveOrange {
  0% {
    opacity: 0.7;
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(1.2) scaleY(1.6);
  }
}
.active_circle {
  position: relative;
  transition: transform box-shadow 0.2s ease-in;
}
.active_circle::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 100px;
  transition: animation 0.4s ease-in-out;
  opacity: 0;
}
.active_circle:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.active_circle:active::after {
  animation: moveCircle 0.3s ease;
  animation-fill-mode: backwards;
}
@keyframes moveCircle {
  0% {
    opacity: 0.2;
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(2.2) scaleY(2);
  }
}

.title {
  font-family: "TT Firs Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  color: #202020;
  line-height: 1;
}

.desc {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #CACACA;
  line-height: 22px;
}

.logo-desc {
  font-family: "TT Firs Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #E9E9E9;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #999;
  line-height: 19px;
}

.form input::placeholder,
.form textarea::placeholder {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #999;
  line-height: 19px;
}
.form input:focus,
.form textarea:focus {
  color: #202020;
}
.form input:focus::-moz-placeholder, .form textarea:focus::-moz-placeholder {
  color: #FF6E30;
}
.form input:focus::placeholder,
.form textarea:focus::placeholder {
  color: #FF6E30;
}

.btn_close:hover svg {
  transform: rotate(23deg);
}
.btn_close:hover svg rect {
  fill: #FF6E30;
}
.btn_close svg {
  transition: transform 0.2s ease-in-out;
}
.btn_close svg rect {
  transition: fill 0.2s ease-in-out;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

@media (max-width: 850px) {
  .logo {
    width: 166px;
    height: 27px;
  }
}
@media (max-width: 520px) {
  .logo {
    width: 112px;
    height: 18px;
  }
  .title {
    font-size: 18px;
  }
  .btn_orange, .btn_transparent,
  .btn_transparent:link,
  .btn_transparent:visited {
    padding: 12px 22px;
    font-size: 14px;
    line-height: 16px;
  }
  .form input::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .form input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=common.css.map */