$containerMaxWidth: 1320px;

$fontsRowRoboto: 'Roboto', Arial, Helvetica, sans-serif;
$fontsRowTTFirsNeue: 'TT Firs Neue', Arial, Helvetica, sans-serif;

$mainBlack: #202020;
$mainWhite: #fff;
$mainGrey: #CACACA;
$lightGrey: #999;
$mainOrange: #FF6E30;
$hoverOrange: #CE4307;
$logoDesc: #E9E9E9;
$backgroundGrey: #4A4A4A;

$mediaTablet: 1024px;
$mediaMiddle: 850px;
$mediaMobile: 520px;

$gridGap: 30px;

$headerZindex: 20;

$transitionKindsForBtn: animation transform;





